/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif */
* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
}
.header {
    display: flex;
    padding: 70px;
    background-color: #E554731A;

}

.header h1 {
    padding-top: 150px;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.header p {
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.header .btn {
    background-color: #E55473;
    padding: 15px 30px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    border-radius: 5px;
}

.banner-text {

    margin-left: 50px;
}

.banner-img {
    padding-left: 381px
}

.hot_deals {
    background-color: #E554730D;
    margin: 70px 0;
}

.hot_deal {
    display: flex;

    max-width: 1140px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    max-height: 1922px;
    padding: 100px 0;
}

.deal_text h1 {
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;
}

.deal_text p {
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.deal_img {
    margin-left: 225px;
}

.btn_1 {
    margin-top: 30px;
    background-color: #E55473;
    padding: 15px 30px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    border-radius: 5px;
}

.insta {
    max-width: 1358px;
    margin: auto;
}

.insta h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.insta p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.insta_imgs {
    display: flex;
}

.pic_1 {
    margin-right: 18px;
}

.pic_3 {
    margin-right: 18px;
}

.pic_2 {
    margin-right: 18px;
}

.latest_deals {

    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1140px;

}

.latest_deals h1 {
    padding: 30px 0 30px 0;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.latest_deals p {
    padding-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.latest_deals input[type="text"] {
    width: 700px;
    height: 64px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
    
}
/* .latest_deals input::placeholder{
    font-family: 'Lato', sans-serif !important;
} */

::placeholder {
    color: rgba(39, 39, 39, 0.60);
padding-left: 10px;
font-family: 'Lato', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.btn_2 {
    margin-top: 30px;
    background-color: #E55473;
    padding: 15px 30px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;

    font-weight: 700;

    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

footer {
    background-color: #111010;
    height: 450px;
}

.footer {
    width: 650px;
    margin: auto;
    text-align: center;
    margin-top: 20px;

}

.footer h1 {
    padding-top: 128px;
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer span {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer p {
    padding-top: 24px;
    padding-bottom: 32px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer h5 {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.featured_text {
    margin-top: 50px;
    text-align: center;
}

.featured_text h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.featured_text p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.featured_imgs {
    background-image: url('../images/Rectangle\ 3.png'), url('../images/Rectangle\ 3.2.png'), url('../images/Rectangle\ 3.1.png');
    height: 538px;
    width: 1618px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: left, center, right;
    /* display: flex;
    justify-content: space-evenly; */
}

.bonus_1 {
    margin-top: 109px;
    margin-left: 54px;
    
}

.bonus_2 {
    margin-top: 30px;
    margin-left: 250px;
    
}

.bonus_3 {
    margin-left: 235px;
}
.pink_text {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.pink_text p {
    color: #272727;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
}

.yellow_text {
    padding-right: 69px;
}

.pinki_text {
    padding-left: 60px;
}

.bonus {
    background-image: url(../images/roses.jpg);
    margin-top: 80px;
    background-color:#E554730D;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.bonus h1{
    padding: 40px 0 30px 0;
    color: white;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.bonus li {
    color: white;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}

.deal_text span{
    color: #E55473;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}